<!DOCTYPE html>
	<head>
		<title>Martian Rationing</title>
		 <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
		 <script src="/assets/js/jquery-3.4.1.min.js"></script>
		 <script src="/assets/js/main.js"></script>
	</head>
	<body>
	 	<section class="jumbotron text-center">
	    	<div class="container">
	        	<a href="/" class="btn btn-primary my-2">Home</a>
	        	<a href="/add" class="btn btn-primary my-2">Add Ration</a>
                <a href="/view" class="btn btn-primary my-2">View Inventory</a>
                <a href="/schedule" class="btn btn-primary my-2">View Schedule</a>
	    	</div>
	 	</section>

			{{template "content" .}}
	</body>
</html>
